:root {
    --mainFont: 'Lato', sans-serif;
    --primary: rgb(255, 90, 95);
    --dark: #484848;
    --light: #ffffff;
}

html {
    box-sizing: border-box;
    background-color: whitesmoke
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--mainFont);
}


/** Colors / Categories **/

h1 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--dark);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

img {
    max-width: 100%;
}

.portfolio {
    text-align: center;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    margin-top: 0;
}

.video {
    width: 70%;
    margin: 0 auto;
}

main > section {
    margin-bottom: 2rem;
    width: 90%;
    margin: 0 auto;
}

.gif {
    background: #77A1D3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
    background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
    padding: 20px 0;
    width: 100%;
}

.card {
    background-color: white;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

.cards-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 3fr));
}

.card img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.react-section .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(470px, 3fr));
}

.info {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.info .title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.info .demo {
    margin: 5px;
}

.info .demo a {
    text-decoration: none;
    background-color: dodgerblue;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

@media (max-width:560px) {
    .card {
        width: 90%;
    }
    .video {
        width: 100%;
        margin: 0 auto;
    }
    .cards-container {
        display: grid;
        grid-gap: 2rem;
    }
}

@media (max-width:450px) {
    .card {
        width: 85%;
    }
    .video {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width:400px) {
    .card {
        width: 70%;
    }
    .video {
        width: 100%;
        margin: 0 auto;
    }
}